#include <windows.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "DM74164"
            VALUE "FileDescription", "TaskbarPopup"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "TaskbarPopup"
            VALUE "LegalCopyright", "Copyright (C) 2026 DM74164, AGPL-3.0"
            VALUE "OriginalFilename", "TaskbarPopup.exe"
            VALUE "ProductName", "TaskbarPopup"
            VALUE "ProductVersion", "1.0.0"
            VALUE "Comments", "https://github.com/DM74164/TaskbarPopup"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
